@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=M+PLUS+1+Code:wght@100..700&family=Noto+Sans+JP:wght@100..900&display=swap');

:root {
  --mainColor: #ae99ea;
  --mainColorRGB: 174, 153, 234;
  --blackColor: #555062;
  --blackColorRBG: 85, 80, 98;
  --whiteColor: #f9f7fc;
  --whiteColorRGB: 249, 247, 252;

  --fontSize: 18px;
  --border: solid 2px var(--blackColor);
  --borderLightWidth: 1px;
  --borderRadius: 4px;
}

::-webkit-scrollbar-button {
  display: none;
}

* {
  font-family: "Monomaniac One", sans-serif;
  font-size: var(--fontSize);
  font-weight: 400;
  font-style: normal;
  color: var(--blackColor);
  line-height: 1em;
  letter-spacing: .02em;
  user-select: none;
}

.component__textarea {
  display: flex;
  flex-direction: column;
  gap: .4vh;

  .textarea {
    flex: 1;

    textarea {
      width: 100%;
      height: 100%;
      padding: .16em .24em;
      resize: none;
      border: var(--border);
      border-radius: var(--borderRadius);
      font-family: "Inconsolata", "Noto Sans JP", monospace;
      font-weight: bold;

      &:focus {
        border-color: var(--mainColor);
        outline: 2px solid rgba(var(--mainColorRGB), .6);
      }
    }
  }
}

.component__control_btn {
  padding: .32em 1.32em;
  border: var(--border);
  border-radius: var(--borderRadius);

  &:hover {
    background: rgba(var(--mainColorRGB), .5);
    color: var(--whiteColor);
    border-color: var(--mainColor);
  }
}

html, body, .main {
  width: 100%;
  height: 100%;
  background: var(--whiteColor);
}

.header {
  height: 52px;
  border-bottom: 4px solid var(--mainColor);
  display: flex;
  justify-content: center;
  align-items: center;

  .header_title {
    display: inline-block;
    font-size: 1.25rem;
  }
}

.container {
  height: calc(100% - 64px);
  padding: 0 2.8vw 2.4vh;
  margin-top: 1.4vh;
  gap: 1.2vw;

  .left_container,
  .right_container {
    width: 50%;
    gap: 1.6vh;
  }

  .container__code,
  .container__memory {
    flex: 1;
  }

  .container__memory {
    gap: .4vh;
  }

  .container__control {
    justify-content: space-between;
  }

  .container__control_btns {
    gap: 1.6vw;
  }

  .outer__memory_view {
    flex: 1;
    position: relative;
  }

  .container__memory_view {
    height: 100%;
    position: absolute;

    .inner__memory_view {
      height: 100%;
      position: relative;
      overflow-y: scroll;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 12px 4px;
    }

    .component__memory {
      width: calc(100% / 6 - 16px);
      text-align: center;

      .memory_content {
        width: 100%;
        display: flex;

        .code,
        .chara {
          width: 50%;
          aspect-ratio: 1.2;
          border: var(--border);
          position: relative;
          p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
          }
        }
        .code {
          background: var(--blackColor);
          border-right-width: var(--borderLightWidth);
          border-radius: var(--borderRadius) 0 0 var(--borderRadius);
          p {
            color: var(--whiteColor);
          }
        }
        .chara {
          border-left-width: var(--borderLightWidth);
          border-radius: 0 var(--borderRadius) var(--borderRadius) 0;
        }
      }
      .memory_num {
        display: inline;
      }
    }
  }

  .button__ascii_code_table {
    height: 24px;

    &:hover {
      text-decoration: underline var(--mainColor);
    }
  }
}

.flex_row {
  display: flex;
}
.flex_column {
  display: flex;
  flex-direction: column;
}

.color_main {
  color: var(--mainColor);
}

.spacer {
  flex: 1;
}


@media (max-width: 1200px) {
  .container .container__memory_view .component__memory {
    width: calc(100% / 4 - 12px);
  }
}

@media (max-width: 1000px) {
  .container .container__memory_view .component__memory {
    width: calc(100% / 3 - 8px);
  }
}

@media (max-width: 800px) {
  .container .container__control {
    flex-direction: column;
  }
}

@media (max-width: 680px) {
  .container .container__memory_view .component__memory {
    width: calc(100% / 2 - 4px);
  }
}
